.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Increased z-index */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContent {
  background: white;
  padding: 2em;
  border-radius: 0.8em;
  max-width: 50em;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

.header {
  font-size: 4.8em;
  line-height: 1;
}

.copy {
  font-size: 2.4em;
  padding: 1em 0;
  line-height: 1.4;
}

.close {
  background: none;
  border: none;
  font-weight: 900;
  font-size: 4em;
  padding: 1em 0;
  margin-left: auto;
  display: block;
  cursor: pointer;
  color: #000;
}

.decline {
  font-size: 2.2em;
  text-decoration: underline;
  padding: 1.5em 0;
  cursor: pointer;
}
