.accordianWrapper {
  padding: 2em;
  h2 {
    font-size: 5em;
    margin-bottom: 0.4em;
  }
}

.successContainer {
  padding: 2em;
  h1 {
    font-size: 3em;
    margin: 1em 0 0.4em;
  }
  p {
    font-size: 2em;
    margin-top: 1em;
  }
}
